@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroy/Gilroyextrabold.ttf"),
			 url("../fonts/gilroy/Gilroylight.ttf");
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/open_sans/OpenSans-Regular.ttf"),
			 url("../fonts/open_sans/OpenSans-Light.ttf");
}

body {
	margin: 0 auto;
	padding: 0;
	width: 1160px;
	flex-direction: column;
	font-family: "OpenSans", Arial, sans-serif;
}

h1 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: auto;
	color: black;
}

article h1, h3 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: auto;
	color: black;
}

h2 {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: auto;
	color: black;
}

p {
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: black;
}

.page-header__user-actions {
	font-family: "OpenSans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	color: black;
}
.page-header__menu {
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: auto;
	color: black;
}

main, main *,.page-header, .page-header *, .page-footer, .page-footer *{
	display: flex;
	flex-wrap: wrap;
}
/*body, main, .page-footer, .page-header, 
.page-header__user-actions, .page-header__menu, 
.page-header__menu-list, .page-header__menu-item, 
.sub-nav-catalog, .slides-block, .slides-list, 
.slides-list__item, .item-description, .feature, 
.popular, .popular-item {
	display: flex;
}*/

main {
	outline: dashed 1px lightgray;
}
.img-container {
	outline: dashed 1px lightgray;
}

.page-header {
	outline: dashed 1px lightgray;
	flex-direction: column;
}
.page-header__logo {
	width: 100%;
}
.page-header__user-actions {
	outline: dashed 1px lightgray;
	width: 100%;
	justify-content: space-between;
}
.user-actions__item {
	margin-left: 90px;
}

.page-header__menu-list {
	width: 100%;
	justify-content: flex-end;
}
.page-header__menu-list, .sub-nav-catalog {
	list-style: none;
	margin: 0;
	padding: 0;
	outline: dashed 1px lightgray;
}
.sub-nav-catalog {
	flex-direction: column;
}


.breadcrumbs {
	outline: 1px dashed lightgray;
	flex-direction: column;
	width: 100%;
	padding-left: 60px;
}
.breadcrumbs__list {
	padding: 0;
	margin: 0;
}
.breadcrumbs__list-item {
	margin-right: 40px;
}

.sidebar {
	flex-direction: column;
	outline: 1px dashed lightgray;

}
.sidebar-header {

}
/*Размеры картинки слайдера и выравнивание ее в контейнере по горизонтали*/
.item-description .img-container {
	width: 600px;
	height: 500px;
	justify-content: center;
}
/*и по вертикали*/
.item-description img {
	margin: auto;
}


.item-description__text {
	width: 560px;
	outline: dashed 1px lightgray;
}
.slider-control {
	width: 100%;
	justify-content: space-between;
}
.slider-switch__list {
	margin: 0 80px 0 0;
	padding: 0;
	flex-direction: row;
}
.slider-switch__list-item {
	width: 4px;
	height: 4px;
	border: 3px solid black;
	border-radius: 50%;
	margin-left: 25px;
}
.item-description__text .feature__list-item {
	flex-direction: column;
	margin-right: 80px;
}
.item-description {

}
.popular {
	width: 100%;
	justify-content: space-between;
	outline: dashed 1px lightgray;
}
.popular-item {
	width: 160px;
	outline: dashed 1px lightgray;
}
.popular-item .popular-item__thumb {
	width: 160px;
	height: 160px;
}

.services-menu {
	width: 285px;
}
.services-menu__list {
	flex-direction: column;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	width: inherit;
	outline: dashed 1px lightgray;
}
.service-item {
	width: 760px;
	flex-direction: column;
	flex-grow: 1;
	outline: dashed 1px lightgray;
}
.service-item:nth-of-type(1) {
	background: url("../img/delivery.png") 500px 50px no-repeat;
}
.service-item:nth-of-type(2) {
	background: url("../img/warranty.png") 500px 50px no-repeat;
}
.service-item:nth-of-type(3) {
	background: url("../img/credit.png") 500px 50px no-repeat;
}
.service-item p {
	width: 430px;
}

.partners {
	width: 100%;
	justify-content: space-between;
}


.about-us {
	flex-direction: column;
	outline: dashed 1px lightgray;
	flex-grow: 1;
	width: 50%;
}
.delivery-partners__list {
	flex-direction: column;
	outline: dashed 1px lightgray;
}
.delivery-partners__list-item::before {
	content: "";
	position: relative;
	width: 4px;
	height: 4px;
	border: 3px solid black;
	border-radius: 50%;
	top: 5px;
	left: -25px;
}

.contacts {
	flex-direction: column;
	outline: dashed 1px lightgray;
	flex-grow: 1;
	width: 50%;
}
.contacts .img-container {
	width: 560px;
}

.page-footer {
	outline: 1px dashed lightgray;
}
.page-footer__logo {
	align-self: center;
}
.page-footer__first-row, .page-footer__second-row, .page-footer__third-row {
	justify-content: space-between;
	outline: 1px dashed lightgray;
	width: 100%;
}
.page-footer__user-actions-list-item {
	margin-left: 40px;
}
.page-footer__menu-item {
	margin: 0 35px;
}



